# Load any .envrc files all the way till /
source_up

# Load .env file if exists
dotenv_if_exists

# Load environment specific overrides if exists
test -f ".env.${APP_ENV}" && dotenv ".env.${APP_ENV}"

# Load local overrides if exists
test -f .env.local && dotenv .env.local